body{
    margin: 0px; padding: 0px; font-family: sans-serif;
    background: linear-gradient(to right, #A9EDF1, #EAADDA);
}

#page_heading{
    text-align: center; margin-top: 25px; color: grey;
}

#list_container{
    text-align: center; max-height: 60vh; overflow: scroll;
}

#list_container ul{
    list-style: none; width: 400px; padding-left: 0px;
    margin: auto; overflow: scroll;
}

#list_container ul li{
    display: flex; flex-direction: row; justify-content: space-around;
    margin: 0px; display: flex; flex-direction: row;
    justify-content: space-between; color: white; background-color: darkblue;
    margin-bottom: 2px; padding: 10px;
}

#list_container ul li span{
    font-size: 20px;
}

#add_contact{
    text-align: center;
}

#add_contact{
    text-align: center; margin-top: 20px;
}

input {
    margin-bottom: 15px; padding: 4px 10px; background-color: #f7f7f7;
    border: 1px solid #d1d1d1; border-radius: 2px; color: #686868;
    width: 300px; display: block; line-height: 1.6; font-size: 1.05rem;
    color: #000000; text-align: center; margin-left: auto; margin-right: auto;
}

button[type="submit"] {
    background-color: #1a1a1a; font-size: 0.9rem; border: none; border-radius: 4px;
    color: #fff; letter-spacing: 0.1rem; line-height: 1; padding: 12px 18px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #dc6520;
}

#inputs{
    flex-grow: 1; display: flex; flex-direction: row; justify-content: space-between;
}

#delete_button{
    margin-left: 10px;
}

#delete_button a i{
    padding: 3px; text-align: center;
}

#delete_button a{
    color: white; background-color: red; display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}